@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "Sailec";
  font-weight: 100;
  src: url("/fonts/Sailec-Hairline.otf") format("opentype");
}
@font-face {
  font-family: "Sailec";
  font-weight: 200;
  src: url("/fonts/Sailec-Thin.otf") format("opentype");
}
@font-face {
  font-family: "Sailec";
  font-weight: 300;
  src: url("/fonts/Sailec-Light.otf") format("opentype");
}
@font-face {
  font-family: "Sailec";
  font-weight: 400;
  src: url("/fonts/Sailec.otf") format("opentype");
}
@font-face {
  font-family: "Sailec";
  font-weight: 500;
  src: url("/fonts/Sailec-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Sailec";
  font-weight: 600;
  src: url("/fonts/Sailec-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Sailec";
  font-weight: 700;
  src: url("/fonts/Sailec-Black.otf") format("opentype");
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

html {
  font-display: fallback;
  box-sizing: border-box;
  scroll-behavior: smooth;
  image-rendering: crisp-edges;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply font-sans;
}

a:link,
a:visited,
a:active {
  text-decoration: underline;
}
